@import '_settings'

normalize-css()
base()

body
  margin 0
  padding 0
  font-family Arial,Helvetica,sans-serif

.parallax
  position relative
  z-index 1
  height 450px
  -webkit-box-shadow inset 0px -6px 5px rgba(50, 50, 50, 0.75)
  -moz-box-shadow inset 0px -6px 5px rgba(50, 50, 50, 0.75)
  box-shadow inset 0px -6px 5px rgba(50, 50, 50, 0.75)

#home
  background url('/img/backgroundOne.jpg') no-repeat fixed
  background-position center top
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover

#projects
  background url('/img/backgroundTwo.jpg') no-repeat center center fixed
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover

#about
  background url('/img/backgroundThree.jpg') no-repeat top center fixed
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover
  height 550px

#contact
  background url('/img/backgroundFour.jpg') no-repeat top center fixed
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover
  height 850px

.txt
  font-size 45px
  color #000
  width auto
  background #F9B802
  background rgba(255, 255, 255, 0.60)
  padding 5px 10px
  &.right
    margin 150px 100px 0 0
    float right
    text-align right
  &.left
    float left
    text-align left
    margin 150px 0 0 100px
  &.sub
    background #000
    background rgba(0,0,0,0.60)
    font-size 25px
    color #ccc
    margin 0 100px 0 100px

.content
  box-sizing border-box
  -moz-box-sizing border-box
  position relative
  z-index 2
  background #FFF
  width 100%
  margin 0
  padding 10px 20px
  -webkit-box-shadow 0px 6px 5px rgba(50, 50, 50, 0.75)
  -moz-box-shadow 0px 6px 5px rgba(50, 50, 50, 0.75)
  box-shadow 0px 6px 5px rgba(50, 50, 50, 0.75)
  text-align left
  &.right
    text-align right
  h2
    padding 0 25px
  p
    padding 0 50px

#footer
  text-align center
  padding 20px 0 20px
  box-sizing border-box
  -moz-box-sizing border-box
  position relative
  z-index 2
  background #FFF
  width 100%
  height auto
  margin 0
  -webkit-box-shadow 90px 6px 5px rgba(50, 50, 50, 0.75)
  -moz-box-shadow 90px 6px 5px rgba(50, 50, 50, 0.75)
  box-shadow 90px 6px 5px rgba(50, 50, 50, 0.75)

